.first_section {
    background-color: #1f2937;
    padding: 0 16px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 200px;
    padding-right: 200px;
    /*outline: red dashed 1px;*/
}

.header {
    display: flex;
    color: white;
    font-size: 24px;
    justify-content: space-between;
    padding: 50px;
    font-weight: bold;
    align-items: center;
    /*outline: red dashed 1px;*/
}

.first_box {
    color: #f9faf8;
    display: flex;
    padding: 20px;
    /*outline: red dashed 1px;*/
}
.left_box {
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    /*outline: red dashed 1px;*/
}

button {
    background-color: rgb(57, 57, 238);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    /*outline: red dashed 1px;*/
}

.right_image_box {
    /*outline: red dashed 1px;*/
}

.manila {
    width: 450px;
    height: 200px;
    display: flex;
    padding: 20px;
    /*outline: red dashed 1px;*/
}

a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    /*outline: red dashed 1px;*/
}

/*Below are for section 2*/
.second_section {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
    padding-top: 30px;
    /*outline: red dashed 1px;*/
}

.random_text{
    text-align: center;
    /*outline: gold dashed 1px;*/
}
 
.second_container {
    display: flex;
    /*outline: red dashed 1px;*/
    justify-content: space-around;
    
}

.pic1, .pic2, .pic3, .pic4 {
    margin: 20px;
    height: 200px;
    width: auto;
    /*outline: red dashed 1px;*/
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*outline: blue dashed 1px;*/
}

.text_under_illustration {
    display: flex;
    text-align: center;
    font-size: 15px;
    /*outline: purple dashed 1px;*/
}

.third_section {
    background-color: #E5E7EB;
    padding: 200px;
    padding-left: 450px;
    padding-right: 450px;
}

.quote, .quotee {
    font-family: 'Courier New', Courier, monospace;
}

.quote {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    /*outline: red dashed 1px;*/
}

.quotee {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    /*outline: red dashed 1px;*/
}

.fourth_section {
    padding: 200px;
    outline: red dashed 1px;
}
